body {
  font-family: Arial;
  background: #f2f8ff;
}

.task-container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.task {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.task.done span {
  text-decoration: line-through;
  color: gray;
}

button {
  background: #4da3ff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}
